<!-- Blog/home.html -->
{% extends "base.html" %}

{% block content %}
  <div class="container overflow-hidden text-center">
        <h2>Today's New Posts</h2>
        <div class="row gx-5">
            {% for post in posts %}
             <div class="col-md-4 mb-4">
                <div class="card text-center" style="width: 18rem; margin: auto;">
                    <h1>{{ post.title }}</h1>
                {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}">
            {% else %}
            <p><em>No image uploaded.</em></p>
            {% endif %}
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a></h5>
                            <p class="card-text">{{ post.body|slice:":400" }}</p>
                                <small class="card-text">Created at: {{ product.date_posted }}</small> <br>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}